<title>Error!!</title>
<body>
    <section class="page_404">
        <div class="container">
            <div class="four_zero_four_bg">
                <h1>:(</h1>
            </div>

            <div class="contant_box_404">
                <h2>{{message1}}</h2>
                <p>{{message2}}</p>
                <a href="/api/movies" class="link_404">Go to Home</a>
            </div>
        </div>
    </section>
</body>
</html>
