<title>Welcome!</title>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('https://media.giphy.com/media/kHs1lBhZWaK5rj7lt3/giphy.gif');
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
    }

    .welcome-container h1 {
        background-image: url('https://media.giphy.com/media/6p26sp0YT2LAI/giphy.gif');
        background-size: cover;
        -webkit-background-clip: text;
        color: transparent;
    }

    .welcome-container {
        text-align: center;
        margin-top: -200px;
        font-size: 40px;
    }

    .btn-go-to-main-page {
        margin-top: 20px;
    }
</style>
<div class="welcome-container">
    <h1>Welcome to MovieFlix</h1>
    <a href="/login" class="btn btn-primary btn-go-to-main-page">Go to Main Page</a>
</div>